/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Teko', sans-serif;font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-display: bold;
}

/* Your code starts here! */
body {
	margin: 0 auto;
	max-width: 900px;
}
a {
	text-decoration: none;
	color: black;
}

address {
	margin-bottom: 20px;
}

footer p {
	margin: 10px 0;
}

h1 {
	font-size: 60px;
	line-height: 60px;
	padding-bottom: 5px;
}
header {
	padding: 5px 0;
	z-index: 1;
    position: fixed;
    width: 900px;
	background-color: black;	
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a {
	color: white;
	padding: 5px;
}

.address-div {
	margin: 0 1.5%;
}

.copyright-p {
	text-align: center;
	margin-top: 50px;
}

.logo {	
	filter: brightness(0) invert(1);
}
.start-section {
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.start-div {
	text-align: center;
}
.start-button {
	border: 1px solid rgb(2, 2, 2);
	width: 150px;
	padding: 5px 20px;
	text-align: center;
	margin: 0 auto;
}

.start-img {
	height: 350px;
}

.below-header {
    position: relative;
    top: 75px;
}

.detail-section {
    display: flex;
    justify-content: space-between;
}

.lower {
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	margin-bottom: 40px;
}

.detail-div {
	width: 46%;
	margin-bottom: 15px;
}

.middle-img {
	background-image: url("../img/mid-page-accent.jpg");
	height: 150px;
	margin: 20px 0;
}

.three-col {
	width: 29%;
}

