@media (max-width: 800px) {
    header {
        width: 100%;
    }
    .start-section {
        display: block;
    }

    .start-img {
        margin-top: 50px;
    }

    .detail-div {
        width: 47%;
        margin: 0 1.5% 0 1.5%;
    }

    .lower {
        display: block;
    }

    .three-col {
        width: 97%;
    }

}