@media (max-width: 500px) {
    header {
        flex-direction: column-reverse;
        width: 100%;
        position: relative;
    }

    header div {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    header a {
        border-bottom: 1px solid white;
        padding: 10px 0;
    }

    header a:first-child {
        border-top: 1px solid white;
    }

    header a:last-child {
        border: none;
    }
    .logo {
        margin-bottom: 10px;
    }
    .start-section {
        display: block;
    }

    .detail-section {
        display: block;
    }

    .detail-div {
        width: 97%;
        margin: 5% 2% 5% 2%;
    }

}