@media (max-width: 800px) {
    header {
        flex-direction: column-reverse;
        width: 100%;
    }

    header div {
        justify-content: space-around;
        width: 100%;
    }

    .below-header {
        top: 100px;
    }

    .start-section {
        display: block;
    }

    .start-img {
        margin-top: 50px;
        display: none;
    }

    .detail-div {
        width: 47%;
        margin: 0 1.5% 0 1.5%;
    }

    .three-col {
        width: 33%;
    }

}