@media (max-width: 500px) {
    header {
        flex-direction: column;
        width: 100%;
        text-align: left;
        position: relative;
        align-items: flex-start;
    }
    .start-section {
        display: block;
    }

    .detail-section {
        display: block;
    }

    .start-img {
        margin-top: 50px;
    }

    .detail-div {
        width: 97%;
        margin: 2% 2% 0 2%;
    }

}